<table class="table">
   <tbody>
      <tr>
		<td>Login</td>
		<td>{{collection.login}}</td>
      </tr>
      <tr>
		<td>ID</td>
		<td>{{collection.id}}</td>
      </tr>
      <tr>
		<td>URL</td>
		<td>{{collection.url}}</td>
      </tr>
      <tr>
		<td>Public Repos</td>
		<td>{{collection.public_repos}}</td>
      </tr>
      <tr>
		<td>Followers</td>
		<td>{{collection.followers}}</td>
      </tr>
      <tr>
		<td>Following</td>
		<td>{{collection.following}}</td>
      </tr>
   </tbody>
</table>